<li class="mb-3">
    <div class="card">
      <div class="card-body">

        <div class="d-flex flex-column align-items-start">

          <div class="fs-6 badge text-bg-warning">
            <i class="ph-bold ph-star"></i>
            <%= review.rating %>
            <small> / 5</small>
          </div>

          <div class="p-2">
            <p><%= review.content %></p>
          </div>
        </div>

      </div>
    </div>
</li>
